@import "variables.scss";

.login-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background-image: url("/assets/img/login-bg.jpg");
  background-position: center center;
}

.bg-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: $grey-dark;
  opacity: 0.5;
}

.login-wrapper {
  z-index: 2;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 10px;

  .login-header {
    max-width: 600px;
    color: $white;
    margin-bottom: 1.5rem;
    h1 {
      font-size: 4rem;
      line-height: 1;
      font-weight: 600;
    }

    h4 {
      font-size: 1.5rem;
      line-height: 1;
      font-weight: 300;
    }
  }

  .login-content {
    color: $white;

    p {
      font-size: 1rem;
    }
  }
}
